*{
    background-color: darkolivegreen;
}
.container {
    display: flex;
    align-items: center; 
    float: left;
  }
  .image{
    float: left;
    padding: 5px;
  }

  .container1 {
    display: flex;
    align-items: center; 
    float: left;
  }